<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navigation') %> 
    <main class="container vh-100 d-flex justify-content-center align-items-center">
      <section class="display-7 ">
        <h1 class="text-center mb-5">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores natus officia quisquam facere non et facilis dolore excepturi repudiandae odit tempore fuga, id quibusdam alias neque, officiis, quaerat deleniti? Est, ab nisi! Eveniet sapiente, repellendus iure reprehenderit vel debitis odit quam animi quibusdam quod minus hic? Maxime, consequatur veniam. Asperiores, officiis explicabo? Ullam, quidem a! Quia incidunt voluptatum assumenda magni eaque ex vero voluptates dolores doloribus distinctio totam iste itaque officiis temporibus impedit ea ratione quo commodi perspiciatis, dolore explicabo qui possimus dignissimos. Minima quod earum temporibus autem assumenda optio sint! Excepturi, facere odio minima voluptates hic, magni cupiditate pariatur similique error, eius corrupti! Laudantium ad eos quam ipsam id eum voluptates doloribus. Rerum, quaerat maxime! Maiores dolor repudiandae reiciendis in aperiam ratione voluptates sed temporibus. Aperiam facere, ipsam ducimus sunt sint, necessitatibus molestiae ullam facilis exercitationem dolorem nostrum assumenda quibusdam alias? Perspiciatis facilis maiores ea tempora laudantium eveniet, placeat iste minus possimus cum commodi, odio architecto similique doloribus saepe consequuntur quia velit, mollitia magnam! Laboriosam nam sint molestias nesciunt, itaque reiciendis temporibus consequatur, nulla inventore dolor quibusdam doloribus ipsam dolore veniam fuga aut tenetur ipsum repudiandae perspiciatis earum. Voluptatem vel minima voluptatum? Quidem voluptatem facere aspernatur quisquam cumque? Harum.</p>
      </section>
    </main>
    <%- include('partials/footer') %> 
  </body>
</html>
